@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/gothic-a1-v8-latin-regular.woff2') format('woff2'),
       url('../fonts/gothic-a1-v8-latin-regular.woff') format('woff'); 
  font-display: swap;
}

@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/amiri-v17-latin-regular.woff2') format('woff2'), 
       url('../fonts/amiri-v17-latin-regular.woff') format('woff'); 
  font-display: swap;
}