html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Amiri', sans-serif;
  font-weight: 400;
  color: $accent;
}

.container {
  max-width: 1218px;
  padding: 0 15px;
  margin: 0 auto;
}